* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(20, 60, 60, 1);
    --secondary-color: rgba(226, 237, 223, 1);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
}

/* ===== Common ===== */
a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border-color: transparent;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    --height: 57px;
    width: 173px;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    background-color: #143c3c;
    border-radius: 40px;
    border: 1.5px solid #143c3c;

    color: #fff;
    font-family: Public Sans;
    font-size: 18px;
    font-weight: 500;
    transition: 0.25s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.85;
    background: #e2eddf;
    color: #143c3c;
    border-color: #e2eddf;
}

.content-tag {
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.content-heading {
    --height: 20px;
    --width: 520px;
    margin-top: var(--height);
    width: var(--width);
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

/* ===== HEADER ===== */

.header {
    margin-top: 16px;
}

.navbar {
    font-family: "Public Sans", sans-serif;
    padding: 12px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    display: flex;
    gap: 9px;
    align-items: center;
    color: black;
}

.navbar__logo-name {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.6;
}

.navbar__menu-list {
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.navbar__menu-item {
    padding: 8px 12px;
    font-family: Public Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    color: #575d5e;
}

.navbar__menu-item:hover {
    color: #152427;
}

.navbar__menu-item--active {
    position: relative;
    font-family: Public Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    color: #152427;
}

.navbar__menu-item--active::after {
    position: absolute;
    bottom: -32px;
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background-color: var(--primary-color);
}

.navbar__sign-up {
    margin-left: auto;
}

.navbar__bottom-bar {
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* === Hero === */

.main-hero {
    padding-bottom: 88px;
    position: relative;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 41%;
}

.hero__content-heading {
    width: 368px;
    color: #152427;
    font-family: Public Sans;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__content-desc {
    width: 341px;
    margin-top: 20px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.hero__content-cta {
    display: flex;
    gap: 36px;
    margin-top: 42px;
}

.hero__content-btn {
    --height: 57px;
}

.hero__content-button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.hero__content--half-circle {
    width: 60px;
    height: 60px;
    border: 4px solid #143c3c;
    border-bottom-color: transparent;
    border-right-color: transparent;
    rotate: -45deg;
    border-radius: 50%;
    transition: 0.25s;
}

.hero__content-button:hover .hero__content--half-circle {
    rotate: 135deg;
    border: 4px solid #83a17d;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.hero__content-button:hover .hero__content-play {
    rotate: -135deg;
    background: #143c3c;
}

.hero__content-button:hover .hero__content-text {
    color: #83a17d;
}

.hero__content-play {
    width: 44px;
    height: 44px;
    rotate: 45deg;
    border-radius: 50%;
    color: #fef6fb;
    background-color: #83a17d;
    transition: 0.25s;
}

.hero__content-text {
    margin-left: 8px;
    color: #152427;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    transition: 0.25s;
}

.hero__image {
    position: relative;
    margin-right: 25px;
    z-index: -1;
    display: flex;
    gap: 20px;
}

.hero__image-blur {
    position: absolute;
    bottom: 81px;
    right: 150px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(150px);
}

.hero__img {
    position: relative;
    width: 202px;
    height: 466px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img:nth-of-type(2) {
    margin-top: 77px;
}

/* .hero__vector-top {
    position: absolute;
} */

.hero__vector-top .star {
    position: absolute;
    top: 33px;
    left: 254px;
    z-index: 3;
}

.hero__vector-top .tail {
    position: absolute;
    top: 27.9px;
    left: 297px;
    z-index: 2;
}

.hero__vector-top .star {
    position: absolute;
    top: 33px;
    left: 254px;
    z-index: 3;
}

.hero__vector-bottom .star {
    position: absolute;
    right: 35px;
    bottom: 52px;
    z-index: 3;
    rotate: 35deg;
}

.hero__vector-bottom .tail {
    position: absolute;
    right: 76px;
    top: 260px;
    z-index: 2;
}
/* ===== BRAND ===== */

.brand-list {
    margin-top: 42px;
    padding: 76px 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e2eddf;
    border-radius: 999px;
}
/* ===== OUR SERVICES ===== */

.services {
    margin-top: 50px;
    padding: 55px 0;
}

.service__content {
}

.service__content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__content-tag {
    position: relative;
    margin-left: 46px;
}

.service__content-tag::before {
    position: absolute;
    top: 9px;
    left: -46px;
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background-color: #152427;
}

.service__content-heading {
    position: relative;
    --width: 61%;
}

.service__content-heading::after {
    position: absolute;
    bottom: 19px;
    right: 103px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background-color: #152427;
}

.service__content-cta {
    margin-right: 73px;
    color: #152427;
}

.service__content-cta .arrow {
    width: 54px;
    height: 54px;
    background-color: #e2eddf;
    border-radius: 50%;
    transition: 0.25s;
}

.service__content-cta .arrow:hover {
    background-color: #152427;
    color: #e2eddf;
}

.service__content-cta .arrow-left {
    margin-right: 17px;
}

.service__content-cta .arrow-right {
    rotate: 180deg;
}

.service__list {
    margin-top: 76px;
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

.service__item {
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    transition: 0.25s;
}

.service__item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__item:hover .service__item-thumb {
    opacity: 1;
}

.service__item:hover .service__item-title,
.service__item:hover .service__item-desc {
    margin-left: 18px;
}

.service__item-title {
    margin-top: 24px;
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    transition: 0.2s;
}

.service__item-desc {
    margin-top: 18px;
    margin-bottom: 23px;
    width: 268px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72;
    transition: 0.2s;
}

.service__item-thumb {
    width: 370px;
    height: 318px;
    object-fit: cover;
    opacity: 0.9;
}

/* ===== ABOUT US ===== */

.about {
    margin-top: 45px;
    padding: 50px 0;
}

.about__body {
    display: flex;
    justify-content: space-between;
}

.about__media {
    position: relative;
    display: flex;
    gap: 21px;
}

.hero__vector-top {
    position: absolute;
    top: -45px;
    left: -208px;
}

.about__media-thumb {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 999px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__media-thumb.left {
    margin-top: 90px;
}

.about__media-thumb.right {
    margin-top: 13px;
}

.about__media-stats {
    position: absolute;
    background-color: #fff;
    z-index: 99;
    left: 457px;
    top: 418px;
    width: 144px;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about__media-stats-info {
    margin: 19px 23px 12px;
}

.about__media-stats-heading {
    color: var(--primary-color-black, #152427);
    font-family: Public Sans;
    font-size: 1.4rem;
    font-weight: 600;
}

.about__media-stats-desc {
    margin-top: 6px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
}

.about__media-stats-number {
    margin-top: 10px;
    color: var(--primary-color-black, #152427);
    font-family: Public Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__media-stats-percent1 {
    margin-top: 3px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about__media-stats-percent2 {
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about__media-stats-loading {
    display: block;
    text-align: right;
    margin-top: 3px;
    color: var(--primary-color-black, #152427);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__media-stats-dot {
    margin-top: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #143c3c;
    border: 3px solid #eaeaea;
}

.about__media-stats-member {
    margin-top: 5px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.about__media-stats-teams {
    color: var(--primary-color-black, #152427);
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__media-stats-avatar {
    margin-left: -10px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 16px;
    border: 1px solid #fff;
}

.about__media-stats-avatar:first-child {
    margin-left: 0;
}

.about__content {
    width: 43%;
}

.about__content-tag {
    display: flex;
    align-items: center;
    gap: 21px;
}

.about__content-tag::before {
    content: "";
    width: 25px;
    height: 1px;
    background-color: #152427;
}

.about__content-heading {
    --width: 100%;
}

.about__content-desc {
    margin-top: 12px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.about__content-info {
    margin-top: 26px;
    display: flex;
}

.about__content-info .number {
    margin-right: 24px;
    color: var(--primary-color-black, #152427);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.about__content-info-desc {
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72;
}

.about__content-line {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #83a17d;
}

/* ===== OUR PROCESS ===== */

.process {
    margin-top: 29px;
    padding: 36px 0;
}

.process__content-tag {
    display: flex;
    align-items: center;
    gap: 21px;
}

.process__content-tag::before {
    content: "";
    width: 25px;
    height: 1px;
    background-color: #152427;
}

.process__content-heading {
    position: relative;
    --width: 42%;
}

.process__content-heading::after {
    position: absolute;
    bottom: 18px;
    left: 420px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background-color: #152427;
}

.process-bottom {
    margin-top: 81px;
}

.process__steps-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #83a17d;
    /* border-radius: 33px; */
    transition: 0.25s;
}

.process__steps-item:hover {
    background: #e2eddf;
    border-bottom: 1px solid transparent;
    border-radius: 33px;
}

.process__steps-item:hover .process__steps-item-title {
    transform: translateX(10px);
}

.process__steps-item:hover .process__steps-more {
    visibility: visible;
}

.process__steps-item:first-child {
    position: relative;
}

.process__steps-item-title {
    margin: 57px 30px;
    display: flex;
    transition: 0.25s;
}

.process__steps-title {
    margin-left: 54px;
}

.process__steps-number {
    min-width: 110px;
    color: var(--primary-color-black-green, #143c3c);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 55px; /* 72.222% */
}

.process__steps-heading {
    margin-top: 15px;
    color: var(--primary-color-black, #152427);
    font-size: 2.2rem;
    font-weight: 600;
}

.process__steps-more {
    display: inline-block;
    visibility: hidden;
    text-decoration: underline;
    margin-top: 22px;
    color: var(--text-color-black-gray, #575d5e);
    font-size: 1.8rem;
    line-height: 18px; /* 100% */
    transition: 0.05s;
}

.process__steps-item-img {
    position: absolute;
    bottom: 0;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process__steps-item-title {
    width: 46%;
}

.process__steps-item-info {
}

.process__steps-desc {
    margin-right: 41px;
    width: 572px;
    color: var(--text-color-light-gray, #7d8188);
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}
/* ===== PROJECT ===== */

.project {
    margin-top: 112px;
    padding: 116px 0 63px;
    background-color: #143c3c;
}

.project__content-heading {
    display: flex;
    justify-content: space-between;
}

.project__content-title {
    position: relative;
    --width: 457px;
    margin-top: 0;
    color: #e7f9f9;
    line-height: 1.24;
}

.project__content-title::after {
    position: absolute;
    left: 294px;
    bottom: 26px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: #83a17d;
}

.project__content-heading-info {
    margin-top: 11px;
    width: 52%;
}

.project__content-desc {
    width: 560px;
    color: #6a8383;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.project__content-cta {
    display: inline-flex;
    align-items: center;
    padding: 12px 0;
}

.project__content-cta:hover .project__content-cta-text {
    color: #80a07b;
}

.project__content-cta-text {
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    transition: 0.25s;
}

.project__content-cta-text::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: #80a07b;
    transition: 300ms;
}

.project__content-cta:hover .project__content-cta-text::after {
    width: 100%;
}

.project__content-cta-img {
    margin-left: 26px;
    color: #80a07b;
}

.project__content-cta-svg {
    rotate: 180deg;
    color: #80a07b;
}

.project__content-media {
    position: relative;
    margin-top: 65px;
}

.project__content-media-video {
    width: 100%;
    height: 544px;
    border-radius: 22px;
}

.project__content-star .star {
    position: absolute;
    top: -72px;
    right: -49px;
}

.project__content-star .tail {
    position: absolute;
    bottom: 226px;
    right: -60px;
}
/* ===== FEATURES ===== */

.features {
    margin-top: 90px;
    padding: 50px 0;
}

.features__content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__content-heading {
    text-align: center;
    width: 46.6%;
}

.features__content-desc {
    margin-top: 20px;
    text-align: center;
    width: 48%;

    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.features__content-list {
    margin-top: 103px;
    display: flex;
    gap: 45px;
    justify-content: space-between;
}

.features__content-item {
    width: 350px;
    min-height: 362px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: 0.25s;
}

.features__content-item:hover {
    transform: translateY(-59px);
    border: 1.5px solid transparent;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.features__content-item-icon {
}

.features__content-item-title {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
}

.features__content-item-desc {
    padding: 0 43px;
    margin-top: 9px;
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72; /* 171.429% */
}
/* ===== BLOG & ARTICLES ===== */

.blog {
    margin-top: 104px;
    padding: 30px 0;
}

.blog__content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__content-tag {
    display: flex;
    align-items: center;
    gap: 21px;
}

.blog__content-tag::before {
    content: "";
    width: 25px;
    height: 1px;
    background-color: #152427;
}

.blog__content-heading {
    position: relative;
    --width: 520px;
}

.blog__content-heading::after {
    position: absolute;
    bottom: 18px;
    left: 489px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background-color: #152427;
}

.blog__content-header-desc {
    width: 36%;
    margin-top: 45px;
    color: var(--text-color-light-gray, #7d8188);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.blog__content-list {
    margin-top: 90px;
    display: flex;
    gap: 30px;
    flex-shrink: 0;
}

.blog__content-item {
    overflow: hidden;
    border-radius: 20px;
}

.blog__content-item:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog__content-item:hover .blog__content-item-tag {
    transform: translateX(30px);
    background: #143c3c;
}

.blog__content-item:hover .blog__content-item-tagname {
    color: #e2eddf;
}

.blog__content-item:hover .blog__content-item-title {
    transform: translateX(30px);
}

.blog__content-item:hover .blog__content-item-bar {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: #e2eddf;
}

.blog__content-item:hover .blog__content-item-date {
    transform: translateX(-30px);
}

.blog__content-item-thumb {
    width: 360px;
    height: 317px;
    object-fit: cover;
}

.blog__content-item-tag {
    display: inline-block;
    border-radius: 20px;
    background: #e2eddf;
    margin-top: 26px;
    transition: 0.25s;
}

.blog__content-item-tagname {
    display: inline-block;
    padding: 7px 34px;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    transition: 0.25s;
}

.blog__content-item-title {
    width: 295px;
    min-height: 90px;
    margin-top: 13px;
    color: #143c3c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    transition: 0.25s;
}

.blog__content-item-bar {
    margin-top: 12px;
    width: 100%;
    height: 1px;
    background: #c4c4c4;
    transition: 0.25s;
}

.blog__content-item-date {
    margin: 16px 0;
    margin-right: 22px;
    text-align: right;
    transition: 0.25s;
}
/* ===== FOOTER ===== */
